<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title> DMCG </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="static/css/cover.css" rel="stylesheet">
    </head>
<body>
    <h1 align=center> Distributed Multi-Cloud Gateway </h1>
    <div id="container">
        <form action="/Login" method="post">
            <label for="username">Username</label>
            <input type="text" id="username" name="username">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            <div id="lower">
            <input type="checkbox" name="userType" value="1"><label for="checkbox">admin</label>
            <input type="checkbox" name="userType" value="0"><label for="checkbox">user</label>
            <a href="Login"><input type="submit" value="Submit"></a>
            </div><!--/ lower-->
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery-2.2.2.min.js"> </script>
    <script src="js/bootstrap.min.js"> </script>
    </body>
</html>
